@cinza: #F4F4F4;

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

header{
  background-color: @cinza;
  .border-radius(10px);
}

footer{
  background-color: @cinza;
  .border-radius(10px);
}